*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:#f5f7fb;
color:#222;
overflow-x:hidden;

}

/* Navbar */

header{

position:fixed;
top:20px;
left:50%;
transform:translateX(-50%);
width:90%;

display:flex;
justify-content:space-between;
align-items:center;

padding:18px 50px;

background:white;

border-radius:20px;

box-shadow:0 5px 20px rgba(0,0,0,.08);

z-index:1000;

}

.logo{

font-size:28px;
font-weight:700;

}

.logo span{

background:#8B5CF6;
color:white;

padding:8px 15px;

border-radius:50%;

margin-right:10px;

}

nav{

display:flex;
gap:35px;

}

nav a{

text-decoration:none;

color:#444;

transition:.3s;

}

nav a:hover{

color:#8B5CF6;

}

.btn{

background:#8B5CF6;

color:white;

border:none;

padding:13px 30px;

border-radius:10px;

cursor:pointer;

font-size:15px;

transition:.3s;

}

.btn:hover{

transform:translateY(-3px);

box-shadow:0 15px 25px rgba(139,92,246,.3);

}

.btn-outline{

background:none;

border:2px solid #8B5CF6;

color:#8B5CF6;

padding:12px 30px;

border-radius:10px;

cursor:pointer;

margin-left:15px;

transition:.3s;

}

.btn-outline:hover{

background:#8B5CF6;

color:white;

}

.MAIN{

display:flex;

justify-content:space-between;

align-items:center;

padding:180px 8% 100px;
margin-top:120px;

}

.MAIN-text{

width:55%;

}

.small{

color:#8B5CF6;

font-weight:600;

font-size:22px;

}

.MAIN h1{

font-size:70px;

margin:15px 0;

line-height:80px;

}

.MAIN h2{

font-size:38px;

margin-bottom:20px;

color:#666;

height:50px;

}

.description{

line-height:30px;

font-size:17px;

color:#666;

margin-bottom:35px;

}

.buttons{

margin-bottom:45px;

}

.stats{

display:flex;

gap:40px;

background:white;

padding:30px;

border-radius:20px;

box-shadow:0 10px 30px rgba(0,0,0,.08);

width:fit-content;

}

.stats h3{

color:#8B5CF6;

font-size:35px;

}

.stats p{

font-size:14px;

color:#666;

}

.image{

width:40%;

display:flex;

justify-content:center;

}

.image-card{

background:white;

padding:20px;

border-radius:30px;

box-shadow:0 20px 40px rgba(0,0,0,.1);

animation:float 3s ease-in-out infinite;

}

.image-card img{

width:100%;

max-width:400px;

border-radius:20px;

display:block;

}

@keyframes float{

0%,100%{

transform:translateY(0);

}

50%{

transform:translateY(-15px);

}

}

.menu{

display:none;

font-size:25px;

cursor:pointer;

}

@media(max-width:900px){

header{

padding:20px;

}

nav{

display:none;

}

.menu{

display:block;

}

.MAIN{

flex-direction:column-reverse;

text-align:center;

padding-top:150px;

}

.MAIN-text{

width:100%;

}

.image{

width:100%;

margin-bottom:50px;

}

.MAIN h1{

font-size:48px;

line-height:55px;

}

.stats{

justify-content:center;

flex-wrap:wrap;

margin:auto;

}
#skills ul {
list-style: none;
display: flex;
gap: 10px;
}
#skills li {
background: #2c3e50;
color: white;
padding: 6px 14px;
border-radius: 20px;
}
}